* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {
	background-color: lightgrey;
}

header {
	background-color: crimson;
	color: white;
	padding: 20px;
}

header h2 {
	font-size: 36px;
	margin-bottom: 5px;
}

.div-utama {
	max-width: 1080px;
	margin: 20px auto;
	background-color: white;
	padding: 15px;
	overflow: hidden;
}

.navigasi ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-color: darkorange;
	font-size: 20px;
	font-weight: bold;
}

.navigasi li {
	float: left;
}

.navigasi li a {
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 10px 20px;
	display: block;
}

.navigasi li a:hover {
	background-color: red;
	transition-duration: 2s;
}

.banner {
	margin-bottom: 15px;
}

.banner img {
	display: block;
	width: 100%;
	height: 350px;
}

.menu-kiri {
	width: 250px;
	float: left;
	margin-right: 10px;
}

.menu-tengah {
	width: 530px;
	float: left;
	margin-right: 10px;
}

.tanggal-posting
{
    color: gray;
    text-align: right;
    font-size: 12px;
    margin-bottom: 10px;
    display: block;
}

.menu-kanan {
	width:250px;
	float:left;
}

.kotak {
	border: 1px solid grey;
	padding: 10px;
	margin-bottom : 15px;
}

.kotak img {
	width: 100%;
	margin-bottom: 10px;
}

.kotak h3 {
	background-color: crimson;
	color: white;
	text-align: center;
	padding: 10px;
	margin-bottom: 12px;
	border-radius: 20px;
}

.tombol {
	text-decoration: none;
	padding: 10px;
	width: 120px;
	color: white;
	text-align: center;
	display: block;
	margin-top: 10px;
	border-radius: 20px;
}

.tombol:hover {
	background-color: black;
	transition-duration: 2s;
}

.tombol-pesan {
	background-color: darkorange;
}

.tombol-lengkap {
	background-color: green;
}

.berita ul {
	list-style-type: none;
}

.berita ul li a {
	text-decoration: none;
	display: block;
	padding: 12px;
	color: black;
	border-bottom : 1px solid grey;
	margin-bottom: 10px;
}

.berita ul li a:hover {
	color: crimson;
}

footer {
	clear: both;
	background-color: crimson;
	color: white;
	padding: 15px;
	text-align: center;
}

/* Tampilan untuk layar handphone */
@media screen and (max-width:780px){
	header h2, header p {
		text-align: center;
	}
	
	.navigasi li {
		float: none;
	}
	
	.menu-kiri, .menu-tengah, .menu-kanan {
		float: none;
		width: 100%;
	}
}

@media screen and (max-width:1080px) {
	.div-utama {
		width: 100%;
	}
	
	.menu-kiri {
		width: 25%;
	}
	
	.menu-tengah {
		width: 68%;
		float: right;
	}
	
	.menu-kanan {
		clear: both;
		float: none;
		width: 100%;
	}
}